@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

:root {
  --background: #f8f8f8;
  --dark: #303032; }

body {
  font-family: 'Roboto Mono', monospace; }

.header {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem; }
  .header_logo {
    position: relative;
    background: var(--dark);
    border: 0.25rem solid var(--dark);
    height: 5rem;
    width: 5rem;
    outline: 0;
    overflow: hidden;
    margin-left: 3rem; }
    .header_logo::before {
      content: 'JK';
      font-size: 2rem;
      color: white;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
    .header_logo::after {
      content: '';
      position: absolute;
      bottom: -50%;
      left: -50%;
      background: var(--background);
      height: 200%;
      width: 200%;
      border-radius: 45%;
      animation: spin 6s ease-in-out infinite; }
  .header_nav--list {
    display: flex;
    list-style: none;
    margin-top: 1rem; }
    .header_nav--list-item a {
      text-decoration: none;
      color: black;
      padding: 2rem;
      cursor: pointer; }

.landing {
  position: relative;
  background: var(--dark);
  height: 100vh;
  width: 100vw;
  outline: 0;
  overflow: hidden; }
  .landing::before {
    content: '';
    font-size: 2rem;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .landing::after {
    content: '';
    position: absolute;
    bottom: -50%;
    left: -50%;
    background: var(--background);
    height: 200%;
    width: 200%;
    border-radius: 45%;
    animation: spin 6s ease-in-out forwards; }

@keyframes spin {
  0% {
    transform: translateY(0) rotate(0deg); }
  100% {
    transform: translateY(-100%) rotate(500deg); } }
