.nav {
  font-size: 4rem;
  &__list {
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
  }
}

body {
  font-family: "Inknut Antiqua";
  font-weight: 700;
  line-height: 1.5;
  color: $color-white;
}
