.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 100vh;
  height: 100%;
  padding: 10rem 8%;
  background-color: #222;
}

.card {
  width: 20rem;
  border: 2px solid #333;

  &__img {
    height: 15rem;
    width: 100%;
  }
  &__link {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    text-align: center;
    background-color: #333;
    margin: 2rem;
    max-height: 30rem;
    &:hover {
      cursor: pointer;
    }
  }
  &__info {
    padding: 2rem;
  }
}
