.quiz {
  background-image: linear-gradient(
      to bottom right,
      rgba(11, 11, 85, 0.8),
      rgba(70, 11, 11, 0.8)
    ),
    url('../img/question-mark.jpg');
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  padding-top: 8rem;

  &__contain {
    display: flex;
    justify-content: center;
  }

  &__container {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 65%;
    justify-content: center;
    color: white;
    text-shadow: 4px 4px 8px #000;
  }

  &__header {
    font-size: 4rem;
    margin-bottom: 3rem;
  }

  &__score {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
    font-size: 1.8rem;

    &--right {
      color: rgb(31, 219, 31);
    }

    &--wrong {
      color: rgb(255, 0, 0);
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
  }

  &__body {
    &--question {
      font-size: 2.2em;
      margin-bottom: 2rem;
    }
    &--answers {
      margin-left: 45%;
      &-button-box {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 0.7rem;
        font-size: 1.5rem;

        & > input {
          width: 2rem;
        }
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3em;
    flex-wrap: wrap;
    &--group {
      display: flex;
      flex-direction: column;
      font-size: 1.5em;
      padding: 3rem 0;

      &-params {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      &-param {
        width: 100%;
        padding-bottom: 1.5rem;
        & > select {
          font-size: 1em;
        }

        & > label {
          margin: 0 0.5rem;
        }
      }
    }
  }
}

.answer {
  font-size: 2em;
  padding: 3rem;
}

#numOfQuestions {
  text-align: center;
  width: 50%;
  margin-bottom: 3rem;
  &::placeholder {
    color: #ccc;
  }
}
