@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

.header {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  text-align: center; }

.countdown__app {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5em;
  color: #fff;
  background: url("https://images.unsplash.com/photo-1633596683562-4a47eb4983c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80") no-repeat center;
  background-size: cover;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.countdown__container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 5rem; }
  .countdown__container > div > p {
    font-size: 3em;
    margin-top: 3rem; }
  .countdown__container > div > span {
    font-size: 0.7em; }

.countdown__header {
  margin-top: 5rem; }

.countdown__arrow {
  cursor: pointer; }
  .countdown__arrow--image {
    filter: invert(100%);
    height: 5rem;
    width: 5rem; }

.countdown__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%; }
  .countdown__form--group {
    display: flex;
    padding: 3rem 0; }

input {
  font-size: 2rem;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
  width: 100%; }
  input:focus {
    outline: none; }

.show {
  animation: show 0.3s ease-in;
  opacity: 1; }

.hide {
  animation: hide 0.3s ease-out;
  opacity: 0; }

.rotateDown {
  animation: rotateDown 0.5s forwards; }

.rotateUp {
  animation: rotateUp 0.5s forwards; }

body {
  background-color: #ddd;
  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4); }

*::selection {
  color: #000; }

.app {
  width: 480px;
  background: #ddd;
  box-shadow: -6px -6px 9px white, 6px 6px 9px rgba(0, 0, 0, 0.07), inset -6px -6px 9px rgba(0, 0, 0, 0.07), inset 6px 6px 9px white;
  margin: 2rem auto;
  border-radius: 10%;
  color: #fff;
  text-align: center;
  padding: 2rem;
  margin-top: 10rem; }

.search__box {
  box-shadow: 6px 6px 9px 0 rgba(0, 0, 0, 0.05), -6px -6px 9px white;
  width: 70%;
  margin: 0 auto;
  margin-top: 1.5rem;
  border-radius: 5%;
  transition: all 0.1s ease-in-out; }

.search__box:active {
  transform: translateY(2px);
  box-shadow: inset 6px 6px 9px 0 rgba(0, 0, 0, 0.05), inset -6px -6px 9px white; }

#search-box,
#search-box:focus,
#search-box::placeholder {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  cursor: pointer;
  width: 100%;
  padding: 0.5rem;
  caret-color: #ccc; }

.icon__image {
  height: 18rem;
  width: 18rem;
  margin-left: -1rem;
  margin-top: 2rem;
  background: #ccc;
  box-shadow: -4px -4px 15px white, inset 9px 9px 18px rgba(0, 0, 0, 0.07), inset -9px -9px 18px rgba(0, 0, 0, 0.07), 1px 4px 4px white;
  padding: 3rem;
  border-radius: 25%; }

.weather {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.weather__temp {
  font-size: 4.5rem; }

.weather__conditions {
  margin-left: -1rem;
  font-size: 1.5rem; }

.weather__box--aux {
  display: flex;
  justify-content: space-around;
  width: 100%; }

.icon__aux {
  height: 5rem;
  width: 5rem; }

.weather__temp--aux {
  font-size: 1.5rem; }

.weather__conditions--aux {
  font-size: 0.8rem; }

.icon__sun {
  height: 3rem;
  width: 3rem; }

.date__time {
  padding-top: 1rem; }

.location {
  margin-bottom: 0.5rem; }

.date {
  margin-bottom: -0.5rem; }

.button__white--outline {
  color: white; }
  .button__white--outline, .button__white--outline:link, .button__white--outline:visited {
    text-decoration: none;
    padding: 0.5rem 2rem;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    font-size: 2.5rem;
    border: 3px white solid;
    cursor: pointer; }
  .button__white--outline:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.3); }
  .button__white--outline:active, .button__white--outline:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

@keyframes downwardMovement {
  0%,
  100% {
    transform: translateY(0px); }
  50% {
    transform: translateY(5px); } }

@keyframes scaleOnHover {
  0%,
  100% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); } }

@keyframes rotateUp {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(180deg); } }

@keyframes rotateDown {
  0% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
