.header {
  background-image: linear-gradient(
      rgba($color-primary, 0.3),
      rgba($color-primary, 0.3)
    ),
    url("../img/hero.jpeg");
  background-size: cover;
  box-shadow: inset 3px 3px 15px rgba(0, 0, 0, 0.3);
  width: 100%;
  grid-column: 1 / -1;
  margin-top: -5rem;

  // clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0% 90%);
  // clip-path: polygon(0 0, 30% 0, 100% 10%, 100% 100%, 70% 100%, 0 90%);

  clip-path: polygon(0 0, 30% 0, 100% 10%, 100% 100%, 0 100%);
}
