@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

:root {
  --light: #f8f8f8;
  --dark: #303032; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Roboto Mono', monospace; }

.social {
  z-index: 10000;
  position: fixed;
  left: 0;
  top: 36%;
  animation: fadeIn 4s forwards; }
  .social__icon-list {
    display: flex;
    flex-direction: column;
    margin-left: 1rem; }
    .social__icon-list-item {
      margin-bottom: 1rem;
      list-style: none; }
    .social__icon-list-img {
      height: 4rem;
      width: 4rem;
      border-radius: 5%; }

.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  position: fixed;
  z-index: 1000;
  padding: 1rem;
  font-size: 1.6rem;
  background: transparent; }
  .header__logo {
    position: relative;
    background: transparent;
    font-size: 3rem;
    outline: 0;
    overflow: hidden;
    cursor: pointer;
    margin-left: 1.5rem; }
    .header__logo a {
      text-decoration: none;
      animation: linkFonts 2s forwards; }
  .header__nav {
    padding-right: 1rem; }
    .header__nav--list {
      display: flex;
      list-style: none;
      margin-top: 1rem; }
      .header__nav--list-item {
        position: relative;
        padding-bottom: 0.1rem; }
        .header__nav--list-item a {
          text-decoration: none;
          padding: 2rem;
          cursor: pointer;
          animation: linkFonts 2s forwards; }
        .header__nav--list-item::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 10%;
          height: 3px;
          width: 80%;
          background-color: var(--light);
          transform: scaleX(0);
          transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s; }
        .header__nav--list-item:hover::after {
          transform: scaleX(1);
          width: 80%; }

.landing {
  position: relative;
  background: var(--dark);
  height: 100vh;
  width: 100vw;
  outline: 0;
  overflow: hidden; }
  .landing__text-box {
    position: absolute;
    top: 35%;
    left: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-size: 3em;
    flex-direction: column;
    align-items: start;
    animation: fadeIn 3s forwards; }
    .landing__text-box--heading {
      font-size: 4.5rem;
      margin-left: 2rem; }
      .landing__text-box--heading-span {
        margin-left: -2rem; }
    .landing__text-box--span-applications {
      animation: applications;
      animation-timing-function: steps(25, end); }
    .landing__text-box--span-design {
      animation: design;
      animation-timing-function: steps(16, end); }
    .landing__text-box--span-web3 {
      animation: web3;
      animation-timing-function: steps(6, end); }
    .landing__text-box--span-design, .landing__text-box--span-applications, .landing__text-box--span-web3 {
      margin-top: 1rem;
      overflow: hidden;
      white-space: nowrap;
      display: inline-block;
      position: absolute;
      animation-duration: 15s;
      animation-iteration-count: infinite; }
    .landing__text-box--span-design::after, .landing__text-box--span-applications::after, .landing__text-box--span-web3::after {
      content: '|';
      position: absolute;
      right: 0;
      animation: caret infinite;
      animation-duration: 1s;
      animation-timing-function: steps(1, end); }
    .landing__text-box--button-1 {
      position: absolute;
      left: 0;
      top: 14rem;
      background: var(--light);
      border: 1px var(--light) solid;
      color: var(--dark);
      font-size: 2rem;
      padding: 0.5rem 1.5rem;
      cursor: pointer; }
    .landing__text-box--button-2 {
      position: absolute;
      left: 16rem;
      top: 14rem;
      background: transparent;
      border: 1px var(--light) solid;
      color: var(--light);
      font-size: 2rem;
      padding: 0.5rem 1.5rem;
      cursor: pointer;
      white-space: nowrap; }
    .landing__text-box--button-1:hover, .landing__text-box--button-2:hover {
      transition: 0.2s all;
      box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5); }
    .landing__text-box--button-1:active, .landing__text-box--button-2:active {
      transition: 0.2s all;
      box-shadow: 0 0 0 rgba(255, 255, 255, 0);
      transform: translateY(2px); }
  .landing::before {
    content: '';
    height: 100vmax;
    width: 100vmax;
    display: flex;
    align-items: center;
    justify-content: center; }
  .landing::after {
    content: '';
    position: absolute;
    bottom: -50%;
    left: -50%;
    background: var(--light);
    height: 200vmax;
    width: 200vmax;
    border-radius: 45%;
    animation: spin 5s ease-in-out forwards; }

#bubbles {
  position: absolute;
  background: white;
  border-radius: 50%;
  bottom: -150px;
  pointer-events: none;
  animation: bubbles 2s linear infinite; }

.projects {
  background-color: #222;
  width: 100%;
  height: 60rem;
  margin: -5rem auto; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .projects {
      -webkit-clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
      clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%); } }
  .projects__container {
    display: flex;
    justify-content: center;
    padding-top: 13rem; }
  .projects__slider {
    -moz-perspective: 1300px;
    -ms-perspective: 1300px;
    -webkit-perspective: 1300px;
    perspective: 1300px;
    display: inline-block;
    text-align: left;
    position: relative;
    margin-bottom: 22px; }
    .projects__slider > input {
      display: none; }
    .projects__slider > input:nth-of-type(10):checked ~ ul li:first-of-type {
      margin-left: -900%; }
    .projects__slider > input:nth-of-type(9):checked ~ ul li:first-of-type {
      margin-left: -800%; }
    .projects__slider > input:nth-of-type(8):checked ~ ul li:first-of-type {
      margin-left: -700%; }
    .projects__slider > input:nth-of-type(7):checked ~ ul li:first-of-type {
      margin-left: -600%; }
    .projects__slider > input:nth-of-type(6):checked ~ ul li:first-of-type {
      margin-left: -500%; }
    .projects__slider > input:nth-of-type(5):checked ~ ul li:first-of-type {
      margin-left: -400%; }
    .projects__slider > input:nth-of-type(4):checked ~ ul li:first-of-type {
      margin-left: -300%; }
    .projects__slider > input:nth-of-type(3):checked ~ ul li:first-of-type {
      margin-left: -200%; }
    .projects__slider > input:nth-of-type(2):checked ~ ul li:first-of-type {
      margin-left: -100%; }
    .projects__slider > input:nth-of-type(1):checked ~ ul li:first-of-type {
      margin-left: 0%; }
    .projects__slider > ul {
      position: relative;
      width: 916px;
      height: 483px;
      z-index: 1;
      font-size: 0;
      line-height: 0;
      background-color: #3a3a3a;
      border: 10px solid #3a3a3a;
      margin: 0 auto;
      padding: 0;
      overflow: hidden;
      white-space: nowrap;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    .projects__slider > ul > li {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      font-size: 15px;
      font-size: initial;
      line-height: normal;
      -moz-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
      -o-transition: all 0.5s ease-out;
      -webkit-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
      transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
      vertical-align: top;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      white-space: normal; }
    .projects__slider > ul > li.scrollable {
      overflow-y: scroll; }
    .projects__slider > .navigation {
      position: absolute;
      bottom: -8px;
      left: 50%;
      z-index: 10;
      margin-bottom: -10px;
      font-size: 0;
      line-height: 0;
      text-align: center;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .projects__slider > .navigation > div {
      margin-left: -100%; }
    .projects__slider > .navigation label {
      position: relative;
      display: inline-block;
      cursor: pointer;
      border-radius: 50%;
      margin: 0 4px;
      padding: 4px;
      background: #3a3a3a; }
    .projects__slider > .navigation label:hover:after {
      opacity: 1; }
    .projects__slider > .navigation label:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -6px;
      margin-top: -6px;
      background: #71ad37;
      border-radius: 50%;
      padding: 6px;
      opacity: 0; }
    .projects__slider > .arrows {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .projects__slider.inside .navigation {
      bottom: 10px;
      margin-bottom: 10px; }
    .projects__slider.inside .navigation label {
      border: 1px solid #7e7e7e; }
    .projects__slider > input:nth-of-type(1):checked ~ .navigation label:nth-of-type(1):after,
    .projects__slider > input:nth-of-type(2):checked ~ .navigation label:nth-of-type(2):after,
    .projects__slider > input:nth-of-type(3):checked ~ .navigation label:nth-of-type(3):after,
    .projects__slider > input:nth-of-type(4):checked ~ .navigation label:nth-of-type(4):after,
    .projects__slider > input:nth-of-type(5):checked ~ .navigation label:nth-of-type(5):after,
    .projects__slider > input:nth-of-type(6):checked ~ .navigation label:nth-of-type(6):after,
    .projects__slider > input:nth-of-type(7):checked ~ .navigation label:nth-of-type(7):after,
    .projects__slider > input:nth-of-type(8):checked ~ .navigation label:nth-of-type(8):after,
    .projects__slider > input:nth-of-type(9):checked ~ .navigation label:nth-of-type(9):after,
    .projects__slider > input:nth-of-type(10):checked ~ .navigation label:nth-of-type(10):after,
    .projects__slider > input:nth-of-type(11):checked
~ .navigation
label:nth-of-type(11):after {
      opacity: 1; }
    .projects__slider > .arrows {
      position: absolute;
      left: -31px;
      top: 50%;
      width: 100%;
      height: 26px;
      padding: 0 31px;
      z-index: 0;
      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      box-sizing: content-box; }
    .projects__slider > .arrows label {
      display: none;
      position: absolute;
      top: -50%;
      padding: 13px;
      box-shadow: inset 2px -2px 0 1px #3a3a3a;
      cursor: pointer;
      -moz-transition: box-shadow 0.15s, margin 0.15s;
      -o-transition: box-shadow 0.15s, margin 0.15s;
      -webkit-transition: box-shadow 0.15s, margin 0.15s;
      transition: box-shadow 0.15s, margin 0.15s; }
    .projects__slider > .arrows label:hover {
      box-shadow: inset 3px -3px 0 2px #71ad37;
      margin: 0 0px; }
    .projects__slider > .arrows label:before {
      content: '';
      position: absolute;
      top: -100%;
      left: -100%;
      height: 300%;
      width: 300%; }
    .projects__slider.infinity > input:first-of-type:checked ~ .arrows label.goto-last,
    .projects__slider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(0),
    .projects__slider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(1),
    .projects__slider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(2),
    .projects__slider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(3),
    .projects__slider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(4),
    .projects__slider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(5),
    .projects__slider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(6),
    .projects__slider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(7),
    .projects__slider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(8),
    .projects__slider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(9),
    .projects__slider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(10) {
      display: block;
      left: 0;
      right: auto;
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .projects__slider.infinity > input:last-of-type:checked ~ .arrows label.goto-first,
    .projects__slider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(2),
    .projects__slider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(3),
    .projects__slider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(4),
    .projects__slider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(5),
    .projects__slider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(6),
    .projects__slider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(7),
    .projects__slider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(8),
    .projects__slider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(9),
    .projects__slider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(10),
    .projects__slider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(11),
    .projects__slider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(12) {
      display: block;
      right: 0;
      left: auto;
      -moz-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
      -o-transform: rotate(225deg);
      -webkit-transform: rotate(225deg);
      transform: rotate(225deg); }

.about {
  padding: 10rem;
  padding-top: 15rem;
  font-size: 1.6em;
  background-color: #888; }

.services {
  height: 700px;
  width: 100%;
  background-color: #333; }

.contact {
  height: 700px;
  width: 100%;
  background-color: #888; }

.footer {
  color: #eee;
  height: 200px;
  width: 100%;
  background-color: #222; }

@keyframes spin {
  0% {
    transform: translateY(0) rotate(0deg); }
  100% {
    transform: translateY(-150%) rotate(500deg); } }

@keyframes linkFonts {
  0% {
    color: var(--dark); }
  85% {
    color: var(--dark); }
  100% {
    color: var(--light); } }

@keyframes bubbles {
  0% {
    border-radius: 50% 55% 45% 50% / 43% 65% 38% 42%;
    transform: translateY(0%) translateX(-5rem);
    opacity: 1; }
  20% {
    border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
    transform: translateY(-1000%) translateX(5rem);
    opacity: 1; }
  40% {
    border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
    transform: translateY(-2000%) translateX(-5rem);
    opacity: 1; }
  60% {
    border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
    transform: translateY(-3000%) translateX(5rem);
    opacity: 1; }
  80% {
    border-radius: 60% 40% 32% 68% / 38% 36% 64% 62%;
    transform: translateY(-4000%) translateX(-5rem);
    opacity: 1; }
  100% {
    border-radius: 50% 55% 45% 50% / 43% 65% 38% 42%;
    transform: translateY(-5000%) translateX(5rem);
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes typewriter {
  0%,
  100% {
    width: 0; }
  20%,
  80% {
    width: 6.5em; } }

@keyframes caret {
  0%,
  100% {
    opacity: 0; }
  50% {
    opacity: 1; } }

@keyframes applications {
  0%,
  45%,
  80%,
  100% {
    width: 0; }
  10%,
  40% {
    width: 10em; } }

@keyframes design {
  0%,
  45%,
  80%,
  100% {
    width: 0; }
  50%,
  75% {
    width: 6.4em; } }

@keyframes web3 {
  0%,
  45%,
  80%,
  100% {
    width: 0; }
  82%,
  97% {
    width: 2.8em; } }

@keyframes button {
  0%,
  100% {
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5); }
  50% {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.5); } }
