.button__white--outline {
  color: white;
  background-color: transparent;
  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 0.5em 2em;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    font-size: 2em;
    margin-top: 3em;
    width: 50%;
    min-width: min-content;

    //Change for the <button> element
    border: 3px white solid;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.3);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(black, 0.2);
  }
}
