.about {
  padding: 10rem;
  padding-top: 15rem;
  margin-top: -10rem;
  font-size: 1.2em;
  background-color: var(--light-medium);
  color: var(--extreme-dark);

  &__container {
    width: 80%;
    margin: 0 auto;

    & > p {
      text-indent: 3rem;
    }
  }

  &__image--john {
    min-width: 15rem;
    max-width: 20%;
    float: right;
    margin: 5rem 2rem;
    border-radius: 50%;
    -webkit-shape-outside: circle();
    shape-outside: circle();
  }
}
