.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1000;
  padding: 1rem;

  font-size: 1.3em;
  color: var(--light);
  background-color: var(--very-dark);

  & p {
    padding: 1rem 0;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    @media (max-width: 600px) {
      align-items: space-between;
    }
    &--list {
      display: flex;
      list-style: none;

      margin-top: 1rem;
      &-item {
        position: relative;
        padding-bottom: 0.3rem;
        & a {
          text-decoration: none;
          padding: 2rem;
          cursor: pointer;
          animation: linkFonts 2s forwards;
        }
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 10%;
          height: 3px;
          width: 80%;
          background-color: var(--light);
          transform: scaleX(0);
          transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
        }

        &:hover::after {
          transform: scaleX(1);
          width: 80%;
        }
      }
    }
  }
}
