@keyframes spin {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-150%) rotate(500deg);
  }
}

@keyframes linkFonts {
  0% {
    color: var(--dark);
  }
  85% {
    color: var(--dark);
  }
  100% {
    color: var(--light);
  }
}

@keyframes bubbles {
  0% {
    border-radius: 50% 55% 45% 50% / 43% 65% 38% 42%;
    transform: translateY(0%) translateX(-5rem);
    opacity: 1;
  }
  20% {
    border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
    transform: translateY(-1000%) translateX(5rem);
    opacity: 1;
  }
  40% {
    border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
    transform: translateY(-2000%) translateX(-5rem);
    opacity: 1;
  }
  60% {
    border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
    transform: translateY(-3000%) translateX(5rem);
    opacity: 1;
  }
  80% {
    border-radius: 60% 40% 32% 68% / 38% 36% 64% 62%;
    transform: translateY(-4000%) translateX(-5rem);
    opacity: 1;
  }
  100% {
    border-radius: 50% 55% 45% 50% / 43% 65% 38% 42%;
    transform: translateY(-5000%) translateX(5rem);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typewriter {
  0%,
  100% {
    width: 0;
  }
  20%,
  80% {
    width: 6.5em;
  }
}

@keyframes caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes applications {
  0%,
  45%,
  80%,
  100% {
    width: 0;
  }
  10%,
  40% {
    width: 10em;
  }
}

@keyframes design {
  0%,
  45%,
  80%,
  100% {
    width: 0;
  }

  50%,
  75% {
    width: 6.4em;
  }
}
@keyframes web3 {
  0%,
  45%,
  80%,
  100% {
    width: 0;
  }
  82%,
  97% {
    width: 2.8em;
  }
}

@keyframes button {
  0% {
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
  }
}
