*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --light: #f8f8f8;
  --medium: #3a3a3a;
  --dark: #303032;
  --very-dark: #222;
}

html {
  scroll-behavior: smooth;
}

.container {
}
