.contact {
  height: 55rem;
  width: 100%;
  background-color: #888;

  &__form {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    font-size: 1.6em;

    &-input {
      width: 20rem;
      font-size: 1.2em;

      &-group {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 5rem 0;
      }
    }

    &-text-area {
      width: 40rem;
      height: 20rem;
      font-size: 1.2em;
    }

    &-button {
      margin: 0 auto;
      background: transparent;
      border: 1px var(--light) solid;
      color: var(--light);
      font-size: 2rem;
      padding: 0.5rem 1.5rem;
      cursor: pointer;
      white-space: nowrap;
      &:hover {
        transition: 0.2s all;
        // animation: button 2s infinite;
        box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
      }
      &:active {
        transition: 0.2s all;
        box-shadow: 0 0 0 rgba(255, 255, 255, 0);
        transform: translateY(2px);
      }
    }

    &-toasty {
      margin-top: 3rem;
      font-size: 0.8em;
      display: none;
    }
  }
}
