.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;

  font-size: 1.6rem;
  background-color: transparent;

  &_logo {
    position: relative;
    background: var(--dark);
    border: 0.25rem solid var(--dark);
    height: 5rem;
    width: 5rem;
    outline: 0;
    overflow: hidden;

    margin-left: 3rem;

    &::before {
      content: 'JK';
      font-size: 2rem;
      color: white;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -50%;
      left: -50%;
      background: var(--background);
      height: 200%;
      width: 200%;
      border-radius: 45%;
      animation: spin 4s ease-in-out forwards;
      animation-delay: 1.2s;
    }
  }

  &_nav {
    &--list {
      display: flex;
      list-style: none;

      margin-top: 1rem;
      &-item {
        & a {
          text-decoration: none;
          color: black;
          padding: 2rem;
          cursor: pointer;
        }
      }
    }
  }
}
