.landing {
  position: relative;
  background: var(--dark);
  height: 100vw;
  width: 100vw;
  outline: 0;
  overflow: hidden;

  &::before {
    content: '';
    height: 100vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -50%;
    left: -50%;
    background: var(--background);
    height: 200vw;
    width: 200vw;
    border-radius: 45%;
    animation: spin 3s ease-in-out forwards;
  }
}

span {
  position: absolute;
  background: white;
  border-radius: 50%;
  bottom: -150px;
  pointer-events: none;
  animation: bubbles 2s linear infinite;
}
